#turtles_down {
    height: 85vh;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
}

section {
    display: flex;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

#nav_credits {
    background-color: rgba(255, 255, 255, 0.7);
}